{% load static %}


<div id="footer-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="footer_ul footer-links">
                    <li>
                        <a href="https://facebook.com/imprentagallito" rel="nofollow noopener" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-square footer_icons"></i>
                        </a>
                    </li>
                    <!-- Add more social icons as needed -->
                </ul>
                <p class="footer_text">
                    Imprenta Gallito Perú &mdash; Impresión de stickers personalizados en vinil de alta calidad.<br>
                    <span class="footer_links">
                        <a href="/legales-terminos">Términos y condiciones</a> |
                        <a href="/legales-privacidad">Política de privacidad</a> |
                        <a href="/preguntas-frecuentes">Preguntas frecuentes</a>
                    </span>
                </p>
            </div>
            <div class="col-md-3 text-right">
                <div>
                    <span class="footer_text_right">
                        <img style="display:inline-block;vertical-align:middle;" src="{% static 'img/home/peru-square-flag.jpg' %}" width="22" height="22" alt="Perú">
                        Perú
                    </span>
                    <br>
                    <span class="footer_text_right">&copy; {{ now|date:"Y" }} imprentagallito</span>
                </div>
            </div>
        </div>
    </div>
</div>
