{% extends 'base.html' %}
{% block title %}Empaques{% endblock %}
{% block content %}
<div class="container margin-top5 margin-bottom5">
    <h1 class="my_title">Empaques</h1>
    <div class="row">
        {% for empaque in empaques %}
        <div class="col-md-4 margin-bottom5">
            <div class="card">
                {% if empaque.image %}
                <img src="{{ empaque.image.url }}" class="card-img-top" alt="{{ empaque.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ empaque.name }}</h5>
                    <p class="card-text">{{ empaque.description }}</p>
                    <p class="card-text"><b>Precio:</b> S/ {{ empaque.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
