{% extends 'base.html' %}
{% block title %}Etiquetas{% endblock %}
{% block content %}
<div class="container margin-top5 margin-bottom5">
    <h1 class="my_title">Etiquetas</h1>
    <div class="row">
        {% for etiqueta in etiquetas %}
        <div class="col-md-4 margin-bottom5">
            <div class="card">
                {% if etiqueta.image %}
                <img src="{{ etiqueta.image.url }}" class="card-img-top" alt="{{ etiqueta.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ etiqueta.name }}</h5>
                    <p class="card-text">{{ etiqueta.description }}</p>
                    <p class="card-text"><b>Precio:</b> S/ {{ etiqueta.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
