{% extends 'base.html' %}
{% block title %}Folletos{% endblock %}
{% block content %}
<div class="container margin-top5 margin-bottom5">
    <h1 class="my_title">Folletos</h1>
    <div class="row">
        {% for folleto in folletos %}
        <div class="col-md-4 margin-bottom5">
            <div class="card">
                {% if folleto.image %}
                <img src="{{ folleto.image.url }}" class="card-img-top" alt="{{ folleto.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ folleto.name }}</h5>
                    <p class="card-text">{{ folleto.description }}</p>
                    <p class="card-text"><b>Precio:</b> S/ {{ folleto.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
