{% extends 'base.html' %}
{% block title %}Pósters{% endblock %}
{% block content %}
<div class="container margin-top5 margin-bottom5">
    <h1 class="my_title">Pósters</h1>
    <div class="row">
        {% for poster in posters %}
        <div class="col-md-4 margin-bottom5">
            <div class="card">
                {% if poster.image %}
                <img src="{{ poster.image.url }}" class="card-img-top" alt="{{ poster.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ poster.name }}</h5>
                    <p class="card-text">{{ poster.description }}</p>
                    <p class="card-text"><b>Precio:</b> S/ {{ poster.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
